<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcc.floatbook.dao.oauth.UserDao">
	<!-- 对象属性和表字段的对应 -->
	<resultMap id="userMap" type="User">
		<result property="telephone" column="telephone" />
		<result property="user_name" column="user_name" />
		<result property="email" column="email" />
		<result property="password" column="password" />
		<result property="regist_date" column="regist_date" />
		<result property="role" column="role" />
	</resultMap>

    <select id="selectUserByPhone" parameterType="String" resultMap="userMap">
        select * from `user_table` where telephone = #{phone}
    </select>
    
    <select id="selectUserByMail" parameterType="String" resultMap="userMap">
        select * from `user_table` where email = #{mail}
    </select>
    
    <insert id="insertUser" parameterType="User" >
    	insert into `user_table` (user_name,telephone,email,role,password,regist_date) 
    		values(#{user_name},#{telephone},#{email},#{role},#{password},now())
    </insert>
</mapper>


